table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
    border: 1px solid;
  }
  
  table th,
  table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  